.noofproduct{
	color: #000;
}
.totalcost{
	color: #000;
    border: none;
    text-align: center;
    outline: none;
}
.pname{
	color: #000;
    border: none;
    text-align: center;
    outline: none;
}
.itemcost{
	color: #000;
    border: none;
    text-align: center;
    outline: none;
}